/*统一汇总个错误信息*/
.info_error_eline{ background: url(../../images/dw/error/error_line.gif) repeat-x; height:2px; width:97%;  margin-left:15px; margin-bottom:0px;}
.info_error_edoc{ width:100%; background:#f4f4f4; border-radius:15px; }
.info_error_rt{ width:90%; height:35px; background:url(../../images/dw/error/error_tit.gif) no-repeat;  margin-left:5px; margin-top:5px;}
.info_error_txt{ width:90%;  margin-left:15px;}
.info_error_mobtn{ width:205px; height:27px; background:url(../../images/dw/error/morebtn.gif) no-repeat; border:0; border-bottom:1px solid #fff;  cursor:pointer; color:#0066ff; margin-left:40px; margin-bottom:5px; margin-top:5px;}
.info_error_ulstyle{ line-height:18px; font-size:12px; list-style-image:url(../../images/dw/error/listimg.gif); margin:0;margin-left:18px;margin-bottom:8px;}
.info_error_ulstyle a{ font-size:12px; color:red; text-decoration:none}