<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ALS74</display-name>
  <jsp-config>
    <jsp-property-group>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>GBK</page-encoding>
    </jsp-property-group>
    <jsp-property-group>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.jspf</url-pattern>
      <page-encoding>GBK</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
  <!--CCS-164  add huzp 20150617
  <listener> 
	  <listener-class>com.amarsoft.app.util.SysContextListener</listener-class> 
  </listener>
  -->
  <!-- end -->
  <filter>
    <filter-name>RunFilter</filter-name>
    <filter-class>com.amarsoft.awe.control.RunFilter</filter-class>
    <init-param>
      <param-name>RunTimeDebug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ShowFramePage</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>DbLog</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
    <init-param>
      <param-name>DataSource</param-name>
      <param-value>als</param-value>
    </init-param>
    <init-param>
      <param-name>ExcludedURLs</param-name>
      <param-value>^/.*Logon.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RunFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RunFilter</filter-name>
    <url-pattern>/servlet/view/*</url-pattern>
  </filter-mapping>

   <filter>
	<filter-name>GZIPFilter</filter-name>
	<filter-class>com.amarsoft.gzip.CompressionFilter</filter-class>
	</filter>
	<filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  
  <!-- 添加支持Excel文件下载 tangyb 20151120-->
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.xls</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>EdocFileview</servlet-name>
    <servlet-class>com.amarsoft.app.edoc.FileViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.amarsoft.app.contentmanage.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitAREServlet</servlet-name>
    <servlet-class>com.amarsoft.are.InitAREServlet</servlet-class>
    <init-param>
      <param-name>ConfigFile</param-name>
      <param-value>/WEB-INF/etc/are.xml</param-value>
    </init-param>
    <init-param>
      <param-name>AppHome</param-name>
      <param-value>/WEB-INF</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitAWEServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.InitAWEServlet</servlet-class>
    <init-param>
      <param-name>ConfigFile</param-name>
      <param-value>/WEB-INF/etc/als7c.xml</param-value>
    </init-param>
    <init-param>
      <param-name>CacheFile</param-name>
      <param-value>/WEB-INF/etc/cache.xml</param-value>
    </init-param>
    <init-param>
      <param-name>FixSkinFolder</param-name>
      <param-value>/Frame/skins</param-value>
    </init-param>
    <init-param>
      <param-name>DataSource</param-name>
      <param-value>als</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitWebServiceServlet</servlet-name>
    <servlet-class>com.amarsoft.webservice.servlet.InitWebServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithdrawTaskServlet</servlet-name>
    <servlet-class>demo.WithdrawTaskServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RedirectorServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.RedirectorServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>RedirectorDialogServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.RedirectorDialogServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.ForwardServlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>RunJavaMethodServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.RunJavaMethodServlet</servlet-class>
    <init-param>
      <param-name>DataSource</param-name>
      <param-value>als</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttachmentViewServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.common.attachment.AttachmentViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileViewServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.common.attachment.FileViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StreamViewServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.common.attachment.StreamViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.control.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.amarsoft.app.contentmanage.ContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveXServlet</servlet-name>
    <servlet-class>com.amarsoft.app.als.image.ActiveXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectorServlet</servlet-name>
    <url-pattern>/Redirector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectorDialogServlet</servlet-name>
    <url-pattern>/RedirectorDialog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunJavaMethodServlet</servlet-name>
    <url-pattern>/servlet/run</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/chartview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentViewServlet</servlet-name>
    <url-pattern>/servlet/view/attachment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileViewServlet</servlet-name>
    <url-pattern>/servlet/view/file</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileViewServlet</servlet-name>
    <url-pattern>/servlet/viewpic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StreamViewServlet</servlet-name>
    <url-pattern>/servlet/view/stream</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/servlet/checkcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveXServlet</servlet-name>
    <url-pattern>/servlet/ActiveX</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.amarsoft.webservice.app.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/servlet/Input</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoPageExportServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.dw.export.servlet.InfoExportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPageExportServlet</servlet-name>
    <servlet-class>com.amarsoft.awe.dw.export.servlet.ListExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPageExportServlet</servlet-name>
    <url-pattern>/EAS/PageExport/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPageExportServlet</servlet-name>
    <url-pattern>/EAS/PageExport/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>workflow_GetProcess</servlet-name>
    <servlet-class>
			com.amarsoft.biz.workflow.graph.web.GetProcess
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>workflow_UpdateProcess</servlet-name>
    <servlet-class>
			com.amarsoft.biz.workflow.graph.web.UpdateProcess
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>workflow_AddProcess</servlet-name>
    <servlet-class>
			com.amarsoft.biz.workflow.graph.web.AddProcess
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>workflow_DeleteProcess</servlet-name>
    <servlet-class>
			com.amarsoft.biz.workflow.graph.web.DeleteProcess
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>workflow_ListProcess</servlet-name>
    <servlet-class>
			com.amarsoft.biz.workflow.graph.web.ListProcess
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BarcodeServlet</servlet-name>
    <servlet-class>org.krysalis.barcode4j.servlet.BarcodeServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ExpressUnpackingServlet</servlet-name>
    <servlet-class>com.amarsoft.app.als.image.ExpressUnpackingServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>scoreTaskServlet</servlet-name>
    <servlet-class>com.scoreport.serviceclient.ScoreTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>idCheckServlet</servlet-name>
    <servlet-class>com.scoreport.service.idcheck.IDCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>idCheckServlet</servlet-name>
    <url-pattern>/servlet/idCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scoreTaskServlet</servlet-name>
    <url-pattern>/servlet/scoreTask</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ExpressUnpackingServlet</servlet-name>
    <url-pattern>/servlet/expressUnpacking</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>workflow_GetProcess</servlet-name>
    <url-pattern>/getprocess.wf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>workflow_UpdateProcess</servlet-name>
    <url-pattern>/updateprocess.wf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>workflow_AddProcess</servlet-name>
    <url-pattern>/addprocess.wf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>workflow_DeleteProcess</servlet-name>
    <url-pattern>/deleteprocess.wf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>workflow_ListProcess</servlet-name>
    <url-pattern>/listprocess.wf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/barcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EdocFileview</servlet-name>
    <url-pattern>/fileview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSotreInfo</display-name>
    <servlet-name>UserSotreInfo</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.UserSotreInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSotreInfo</servlet-name>
    <url-pattern>/UserSotreInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelCustomer</display-name>
    <servlet-name>SelCustomer</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.SelCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelCustomer</servlet-name>
    <url-pattern>/SelCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRegistration</display-name>
    <servlet-name>SubmitRegistration</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.SubmitRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRegistration</servlet-name>
    <url-pattern>/SubmitRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelContractStatus</display-name>
    <servlet-name>SelContractStatus</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.SelContractStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelContractStatus</servlet-name>
    <url-pattern>/SelContractStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChealContract</display-name>
    <servlet-name>ChealContract</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.ChealContract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChealContract</servlet-name>
    <url-pattern>/ChealContract</url-pattern>
  </servlet-mapping>
  <welcome-file-list id="WelcomeFileList_1">
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/Frame/page/sys/NoPageInfo.jsp</location>
  </error-page>
  <resource-ref id="ResourceRef_1">
    <res-ref-name>jdbc/als</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Application</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref id="ResourceRef_2">
    <res-ref-name>jdbc/report</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Application</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>SubmitContract</display-name>
    <servlet-name>SubmitContract</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.SubmitContract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitContract</servlet-name>
    <url-pattern>/SubmitContract</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateCheckResult</display-name>
    <servlet-name>UpdateCheckResult</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.UpdateCheckResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCheckResult</servlet-name>
    <url-pattern>/UpdateCheckResult</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GetSaleManagerCityManager</display-name>
    <servlet-name>GetSaleManagerCityManager</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.GetSaleManagerCityManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSaleManagerCityManager</servlet-name>
    <url-pattern>/GetSaleManagerCityManager</url-pattern>
  </servlet-mapping>
  
<!--CCS-960 begin huzp -->
  <servlet>
    <description></description>
    <servlet-name>NoticeAction</servlet-name>
    <servlet-class>com.amarsoft.app.billions.NoticeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeAction</servlet-name>
    <url-pattern>/NoticeAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
    <servlet-name>AuditPointsAction</servlet-name>
    <servlet-class>com.amarsoft.app.billions.AuditPointsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditPointsAction</servlet-name>
    <url-pattern>/auditPointsAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
    <servlet-name>DocAuditPointsAction</servlet-name>
    <servlet-class>com.amarsoft.app.billions.DocAuditPointsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocAuditPointsAction</servlet-name>
    <url-pattern>/DocAuditPointsAction</url-pattern>
  </servlet-mapping>
  <!-- end  -->
  
  <!-- 附件上传扩展接口 -->
   <servlet>
    <description></description>
    <display-name>UploadAppendFile</display-name>
    <servlet-name>UploadAppendFile</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.UploadAppendFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAppendFile</servlet-name>
    <url-pattern>/UploadAppendFile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>GetBusinessTypes</display-name>
    <servlet-name>GetBusinessTypes</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.GetBusinessTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusinessTypes</servlet-name>
    <url-pattern>/GetBusinessTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyCreateInfo</display-name>
    <servlet-name>ApplyCreateInfo</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.ApplyCreateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyCreateInfo</servlet-name>
    <url-pattern>/ApplyCreateInfo</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>PaymentPlanCaculate</display-name>
    <servlet-name>PaymentPlanCaculate</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.PaymentPlanCaculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentPlanCaculate</servlet-name>
    <url-pattern>/PaymentPlanCaculate</url-pattern>
  </servlet-mapping> -->
      <servlet>
    <description></description>
    <display-name>RepaymentInfo</display-name>
    <servlet-name>RepaymentInfo</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.RepaymentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepaymentInfo</servlet-name>
    <url-pattern>/RepaymentInfo</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>RepaymentTips</display-name>
    <servlet-name>RepaymentTips</servlet-name>
    <servlet-class>com.amarsoft.hhcf.app.RepaymentTips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepaymentTips</servlet-name>
    <url-pattern>/RepaymentTips</url-pattern>
  </servlet-mapping>
</web-app>