.btn_bg_left{
	background-image: url(../images/button_bg.png);
}
.btn_bg_mid{
	background-image: url(../images/button_bg.png);
}
.btn_bg_right{
	background-image: url(../images/button_bg.png);
}
.btn_bg_left_over{
	background-image: url(../images/button_bg.png);
}
.btn_bg_mid_over{
	background-image: url(../images/button_bg.png);
}
.btn_bg_right_over{
	background-image: url(../images/button_bg.png);
}
.btn_bg_left_down{
	background-image: url(../images/button_bg.png);
}
.btn_bg_mid_down{
	background-image: url(../images/button_bg.png);
}
.btn_bg_right_down{
	background-image: url(../images/button_bg.png);
}