img.ServerFirstPage {
	background-image:url(../images/server_first.gif);
}
img.ServerPrevPage {
	background-image:url(../images/server_prev.gif);
}
img.ServerNextPage {
	background-image:url(../images/server_next.gif);
}
img.ServerLastPage {
	background-image:url(../images/server_last.gif);
}
.GDTdHeader {
	border-color: #e9e;
}
.GDTdHeader {
	background-image: url(../images/tabe_title_bg.gif);
}
.scrollContent td {
	border-color: #e9e;
}
.serial_td{
	background-color: #e9e0fa;
}
.corss_walk2 {
	background-color: #eee5ff;
}
.high_light {
	background-color: #e691e6;
}
.sort_down {
	background-image: url(../images/sort_down.gif);
}
.sort_up {
	background-image: url(../images/sort_up.gif);
}