@charset "gb2312";
.pt9white {  font-family:宋体;font-size: 9pt; color: #FFFFFF; text-decoration: none}
.allwhite {  font-family:宋体;font-size: 9pt; line-height: 10pt; text-decoration: none; color: #FFFFFF;}
a:link {  text-decoration: none; color: #CC3300}
a:hover {  text-decoration: underline}
.orange9pt {  font-family:宋体;font-size: 9pt; color: #FF6600}
a:visited {  font-family:宋体;font-size: 9pt; color: #CC3300; text-decoration: none}
.no_border {  border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.number {  text-align: right}
.no_border_number {  text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.pt11song {	font-family:宋体;FONT-SIZE: 11pt}
.pt16song {	font-family:宋体;FONT-SIZE: 16pt}
.pt16songud {	FONT-WEIGHT: bold; FONT-SIZE: 16pt; FONT-FAMILY: '黑体','宋体'; TEXT-DECORATION: underline}
.pt20song {	font-family:宋体;FONT-SIZE: 20pt}
.pt24song {	font-family:宋体;FONT-SIZE: 24pt}
.myunderline {	TEXT-DECORATION: underline}
.thisinput2 {border-style:none;border-width:thin;border-color:#e9e9e9}
.thisinput {border-style:none;border-width:thin;}
.myfont{font-family: '黑体','宋体';font-size: 10pt;font-weight:bold;text-decoration: none}
table1 {  border: solid; border-width: 0px 0px 1px 1px; border-color: #000000 black #000000 #000000}
td1 {  font-family:宋体;border-color: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
input1 { font-family:宋体,arial,sans-serif; 	font-size:9pt; background-color: #FDFDF3; border-style:none;border-width:thin; }
textarea1 { font-family:宋体,arial,sans-serif; 	font-size:9pt; background-color: #FDFDF3; border-style:none;border-width:thin;overflow-y:hidden }
select1 { 
	font-family:宋体,arial,sans-serif; 	
	font-size:9pt; 
	background-color: #FDFDF3; 
	border-style:none;
	border-width:thin; 
}
.inputDate { 
	font-family:宋体;
	background-image:url(functionbg.gif); 
	border: #DCDCDC;  
	border-style: outset; 
	border-top-width: 1px; 
	border-right-width: 1px;  
	border-bottom-width: 1px; 
	border-left-width: 1px;
	height:18px
}
inputBrow { 	font-family:宋体;width:10pt; }
.inputjump {	font-family:宋体;FONT-SIZE: 9pt;border-style:groove;text-align:right}
.inputTCDelete
{
	font-family:宋体;
	font-size:9pt; 
	background-color: #EEEEEE; 
	border:0 solid white;
	height: 20px;
	color: #AAAAAA;
}

.inputTCUpdate
{
	font-family:宋体;
	font-size:9pt; 
	/*background-color: #FFF09E;*/ 
	border:0 solid white;
	height: 20px;
	color: navy;
}

/* column title - selectable (3D) */
td.ColumnTitle
{
	font-family:宋体;
	font-size:9pt; 
	font-weight: normal; 
	padding-left: 2;
	/*padding-right: 5;*/
	color: #55554B;
   	background-color: #DEDEC8;
   	background-image:url(back.gif);
	cursor: pointer;
}
td.TCColumnTitleLT
{
	font-family:宋体;
	font-size:9pt; 
	font-weight: normal; 
	padding-left:  2px;
	/*padding-right: 5px;*/
	color: #55554B;
   	background-color: #DEDEC8;
}

/* row selector image dimension */
img.TCSelImageSelected
{
	font-family:宋体;
	width:20px ;
	height:20px ;
	border: 0px;
	background-image: url( table/table_row_button_downstate.gif );
}
	
img.TCSelImageUnselected
{
	font-family:宋体;
	/*width:20px ;
	height:20px ;*/
	border: 0px;
	background-image: url( table/table_row_button_upstate.gif );
}


/******** Table Control *********/

/* background border color for table cells in table control */
.TCView
{ 
	font-family:宋体;
	font-size: 9pt; 
	background-color: #8D8D80; 
}

/* row attributes */
tr.TCRow 
{ 
	font-family:宋体;
	font-size: 9pt; 
	background-color: #EBEAD8; 
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}
.serial_td {
	cursor: pointer; font-size: 9pt; color: #000;
	align: absmiddle; valign: top; background: #ececec;
	padding-left: 4px; padding-right: 4px;
}
.corss_walk1 {
	background: #fff;
}
.corss_walk2 {
	background: #f2f2f2;
}
.high_light {
	background-color: #b4cbff;
	color: #000000;
}
.sort_down {
	background: url(sort_down.gif) no-repeat center;
	width: 15px; height: 15px;
}
.sort_up {
	background: url(sort_up.gif) no-repeat center;
	width: 15px; height: 15px;
}

/* unselected non-editable table cell */
td.TCCellText
{ 
	padding-left:  1px;
	padding-right: 1px;
	font-family:宋体;
	font-size: 9pt; 
	background-color: #EBEAD8;
}

/* selected non-editable table cell */
td.TCCellTextSelected
{ 
	padding-left:  1px;
	padding-right: 1px;
	font-family:宋体;
	font-size: 9pt; 
	background-color: #FFCC33;
}

/* row selector background color*/
td.TCCellImage
{ 
	padding: 0px;
	background-color: #EBEAD8;
}

/* row selector image dimension */
img.TCSelImage
{
	width:16px ;
	height:16px ;
}
	
/* unselected editable table cell */
td.TCCellInput
{ 
/*	padding-left:  5px;
	padding-right: 5px;*/
	padding-left:1px;
	padding-right:1px;
	font-family:宋体;
	font-size: 9pt; 
	background-color: #FDFDF3; 
}

/* selected editable table cell */
td.TCCellInputSelected
{ 
/*	padding-left:  5px;
	padding-right: 5px;*/
	padding-left:1px;
	padding-right:1px;
	font-family:宋体;
	font-size: 9pt; 
	background-color: #FFCC33; 
}

/* title */
td.TCHeader 
{
	font-family:宋体;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left:  5px;
	padding-right: 5px;
	color: #55554B;
   	background-color: #CDCDBE;
}

/* footer */
td.TCFooter 
{
	font-family:宋体;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left:  5px;
	padding-right: 5px;
	padding-top:  2px;
	padding-bottom:  2px;
	color: #55554B;
   	background-color: #CDCDBE;
}

/* column title - non selectable */
/*
td.TCColumnTitle
{
	font-family:宋体;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left:  1px;
	/*padding-right: 5px;*/
	color: #55554B;
   	background-color: #DEDEC8;
}
*/

/* scrollup action buttons */
td.TCLeft
{
	font-family:宋体;
	font-size: 9pt; 
	padding-left:0px;
}

/* scrolldown action buttons */
td.TCRight
{
	font-family:宋体;
	font-size: 9pt; 
	padding-left:8px;
}

/* row selector image dimension */
td.TCSelImageSelected
{
	font-family:宋体;
	font-size: 9pt; 
	width:20px ;
	height:20px ;
	border: 0px;
	background-image: url( table/table_row_button_downstate.gif );
	cursor:pointer;
}
	
td.TCSelImageUnselected
{
	/*
	width:20px ;
	height:20px ;
	border: 0px;
	*/
	background-image: url( table/table_row_button_upstate.gif );
	background-repeat: no-repeat; 
	background-position: top center;
	cursor:pointer;

	border-color: #000000; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 0px; 
	border-left-width: 0px;

	font-family:宋体;
	font-size: 9pt; 
	font-weight: normal; 
	padding-left: 2;
	color: #55554B;
   	background-color: #DEDEC8;
}

/** Active TC Buttons **/
img.ServerFirstPage
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/server_first.gif);
	cursor:pointer;
}
img.ServerPrevPage
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/server_prev.gif);
	cursor:pointer;
}img.ServerNextPage
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/server_next.gif);
	cursor:pointer;
}img.ServerLastPage
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/server_last.gif);
	cursor:pointer;
}

/* Top Page Button */
img.TCTopPageA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/top.gif);
	cursor:pointer;
}

/* Prev Page Button */
img.TCPrevPageA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/pageup.gif);
	cursor:pointer;
}

/* Prev Row Button */
img.TCPrevRowA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/scrollup.gif);
	cursor:pointer;
}

/* Bottom Page Button */
img.TCLastPageA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/bottom.gif);
	cursor:pointer;
}

/* Next Page Button */
img.TCNextPageA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/pagedown.gif);
	cursor:pointer;
}

/* Next Row Button */
img.TCNextRowA
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/scrolldown.gif);
	cursor:pointer;
}

/** Inactive TC Buttons **/
/* Top Page Button */
img.TCTopPageI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_top.gif);
}

/* Prev Page Button */
img.TCPrevPageI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_pageup.gif);
}

/* Prev Row Button */
img.TCPrevRowI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_scrollup.gif);
}

/* Bottom Page Button */
img.TCLastPageI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_bottom.gif);
}

/* Next Page Button */
img.TCNextPageI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_pagedown.gif);
}

/* Next Row Button */
img.TCNextRowI
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/dim_scrolldown.gif);
}

/* Jump Row Button */
img.TCJumpRow
{
	border:0px;
	height:15px;
	width:15px;
	background-image:url(table/jumprow.gif);
}

/* Jump Row Total Label */
td.TCJumpRowTotal
{
	font-family:宋体;
	font-size: 9pt; 
	font-weight: normal; 
	color: #55554B;
}








body {
	margin-top : 6px;
	margin-left : 4px;
	overflow: hidden;
	/*background-image : url(../GridBG_everbright.gif);*/
}
body2 {  background-color: #FF0000}


.GdTrTitleSerial{
	width:15px;
	background-color: #999999;
}

.GdTrContentSerial{
	width:15px;
	background-color: #999999;
	cursor:pointer;
}

.GdTdInput{
	font-family:宋体,arial,sans-serif;
	font-size: 9pt;
	background-color: #FDFDF3; border-style:none;border-width:thin; 
	
}
.GDTdContentInput{
	height:19;font-family:宋体,arial,sans-serif;font-size:9pt; background-color: #FEFEFE; border-style:none;border-width:thin;
}
.GdTdContentArea{
	font-family:宋体,arial,sans-serif; 	font-size:9pt; background-color: #FDFDF3; border-style:none;border-width:thin;overflow-y:hidden;
}
.GdTdContentSelect{
	font-family:宋体,arial,sans-serif; 	font-size:9pt; background-color: #FDFDF3; border-style:none;border-width:thin;
}
.GdJumpInput {
	font-family:宋体,arial,sans-serif;FONT-SIZE: 9pt;border-style:groove;text-align:center;width:20pt;height:13pt
	
}	
.GDTdHeader{
	border:1px solid #bcbcbc;
	font-family:宋体,arial,sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding-left: 2px;
	color: #606060;
	background-color: #777777;
	background:#fff url(../images/tabe_title_bg.jpg) center;
	height:20px;
	cursor:pointer;
	text-decoration: none;
	/*text-align:left;*/
}
.GdTdPage{
	font-family:宋体,arial,sans-serif;font-size:9pt;	font-weight: normal;color: #555555;
	padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;
	background-color: #fff;valign:top;
}

div.tableContainer {
	clear: both;
	height: 285px;
	overflow: auto;
	width: 100%;
}
div.tableContainer table{
	/*border-left:1px solid #bcbcbc;
	border-right:1px solid #bcbcbc;*/
}

/* WinIE 6.x needs to re-account for it's scrollbar. Give it some padding */
\html div.tableContainer/* */ {
	padding: 0 16px 0 0;
}

/* clean up for allowing display Opera 5.x/6.x and MacIE 5.x */
html>body div.tableContainer {
	height: auto;
	padding: 0;
}

/* Reset overflow value to hidden for all non-IE browsers. */
/* Filter out Opera 5.x/6.x and MacIE 5.x */
head:first-child+body div[class].tableContainer {
	height: 100%;
	overflow: hidden;
	width: 100%
}


/* WinIE 6.x needs to re-account for padding. Give it a negative margin */
\html div.tableContainer table/* */ {
	margin: 0 -16px 0 0
}

/* define width of table. Opera 5.x/6.x and MacIE 5.x */
html>body div.tableContainer table {
	float: none;
	margin: 0;
	width: 740px;
}

/* define width of table. Add 16px to width for scrollbar. */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
head:first-child+body div[class].tableContainer table {
	width: 100%
}

/* set table header to a fixed position. WinIE 6.x only */
/* In WinIE 6.x, any element with a position property set to relative and is a child of */
/* an element that has an overflow property set, the relative value translates into fixed. */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative;
	height:100%;
	top: expression(document.getElementById("tableContainer").scrollTop);
}


/* set THEAD element to have block level attributes. All other non-IE browsers */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* Filter out Opera 5.x/6.x and MacIE 5.x */
head:first-child+body thead[class].fixedHeader tr {
	display: block;
}

/* define the table content to be scrollable */
/* set TBODY element to have block level attributes. All other non-IE browsers */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto */
/* Filter out Opera 5.x/6.x and MacIE 5.x */
head:first-child+body tbody[class].scrollContent {
	display: block;
	height: 100%;
	overflow: auto;
	width: 100%
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively. */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
/* Add 16px to last TH for scrollbar padding */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
.fixedHeader th {
	*+border-right:0px;
	_position: relative;
}

/* define width of TH elements: 1st, 2nd, and 3rd respectively. */
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
/* Add 16px to last TH for scrollbar padding */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
.scrollContent td {
	border:1px solid #bcbcbc;
}